doctype html
html(lang='en', class='no-js')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		title Three.js Test - #{name}

		script(src='/js/three.js/three.js', type='text/javascript')
		script(src='/js/stats.js/stats.min.js', type='text/javascript')
		script(src='/coffee/three' + name + '.js', type='text/javascript')
		link(rel='stylesheet', href='/css/three.css')

	body
		script(type='text/javascript') window.ready();
	
